
data/reuters_small/model-best/config.cfg
data/reuters_small/model-best/meta.json
data/reuters_small/model-best/ner/cfg
data/reuters_small/model-best/ner/model
data/reuters_small/model-best/ner/moves
data/reuters_small/model-best/tok2vec/cfg
data/reuters_small/model-best/tok2vec/model
data/reuters_small/model-best/tokenizer
data/reuters_small/model-best/vocab/key2row
data/reuters_small/model-best/vocab/lookups.bin
data/reuters_small/model-best/vocab/strings.json
data/reuters_small/model-best/vocab/vectors
data/reuters_small/model-best/vocab/vectors.cfg
data/reuters_small/model-last/config.cfg
data/reuters_small/model-last/meta.json
data/reuters_small/model-last/ner/cfg
data/reuters_small/model-last/ner/model
data/reuters_small/model-last/ner/moves
data/reuters_small/model-last/tok2vec/cfg
data/reuters_small/model-last/tok2vec/model
data/reuters_small/model-last/tokenizer
data/reuters_small/model-last/vocab/key2row
data/reuters_small/model-last/vocab/lookups.bin
data/reuters_small/model-last/vocab/strings.json
data/reuters_small/model-last/vocab/vectors
data/reuters_small/model-last/vocab/vectors.cfg
training_data/reuters_small/model-best/config.cfg
training_data/reuters_small/model-best/meta.json
training_data/reuters_small/model-best/ner/cfg
training_data/reuters_small/model-best/ner/model
training_data/reuters_small/model-best/ner/moves
training_data/reuters_small/model-best/tok2vec/cfg
training_data/reuters_small/model-best/tok2vec/model
training_data/reuters_small/model-best/tokenizer
training_data/reuters_small/model-best/vocab/key2row
training_data/reuters_small/model-best/vocab/lookups.bin
training_data/reuters_small/model-best/vocab/strings.json
training_data/reuters_small/model-best/vocab/vectors
training_data/reuters_small/model-best/vocab/vectors.cfg
training_data/reuters_small/model-last/config.cfg
training_data/reuters_small/model-last/meta.json
training_data/reuters_small/model-last/ner/cfg
training_data/reuters_small/model-last/ner/model
training_data/reuters_small/model-last/ner/moves
training_data/reuters_small/model-last/tok2vec/cfg
training_data/reuters_small/model-last/tok2vec/model
training_data/reuters_small/model-last/tokenizer
training_data/reuters_small/model-last/vocab/key2row
training_data/reuters_small/model-last/vocab/lookups.bin
training_data/reuters_small/model-last/vocab/strings.json
training_data/reuters_small/model-last/vocab/vectors
training_data/reuters_small/model-last/vocab/vectors.cfg
